
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Open+Sans:wght@300&display=swap');


*,
*::before,
*::after{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}


body{
    font-family: 'Bangers', cursive;
    font-family: 'Open Sans', sans-serif;
    background-color: #333;
}


.container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    
}

.username_container{
    margin-bottom: 3em;
    transform: rotate(-10deg);
}

.username_container a{
    font-size: 2em;
    text-decoration: none;
    color: aqua;
    font-weight: bold;
    

}


.aside_container{
   background-color:#222; 
   max-width: fit-content;
   padding: 2em;
   text-align: center;
}
.navigation_container ul li{
    position: relative;
    font-size: 1.2em;
}
.navigation_container ul{
    list-style-type: none;
    margin: 0;
}
.navigation_container ul li a::after{
    content:"";
    background-color: aquamarine;
    width: 0px;
    height: 0px;
    position: absolute;
    bottom:0;
    left: 50%;
    transform: translate(-50%,0);
    transition: width 0.5s;
}
.navigation_container ul li:hover a::after{
    width:110px;
    height: 3px;

}
.navigation_container ul li a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding: 1em;
    color:aquamarine;
}
.content_container{
    color:white;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin:1em;
    

}

.content_container .ctf, .content_container .writeup{
    width: 90%;
    padding: 5px;
    text-align: left;
    padding-left: 2em;
    line-height: 1.5em;
    background-color:rgba(000, 000, 000, 0.5);
    margin-bottom: 1em;
}

.content_container .ctf:hover{
    cursor: pointer;
    background-color: #555;
}

.content_container .ctf h2{
    color: orange;
}

.content_container div a{
    color: skyblue;
    text-decoration: none;
}

.writeup h1{
    color:orange;
    font-size: 2.5em;
    margin: 1em 0em;
}

hr{
    margin: 1em 0;
}
.image_here{
    text-align: center;
    margin: 1em;
}
.image_here img{ 
    max-width: 30%;   
    border-radius: 2%;
    border: 3px solid white;
}

.gist{
    width: 70%;
    height: 300px;
    overflow: auto;
    margin: 1em auto;
    position: relative;

}

.gist-meta{
    position: sticky;
    bottom:0;
    left:0;
    right: 0;
}

nav{
    position: sticky;
    top:20px;
}